#about {
  @-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
  @keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.main-content {
  -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
@-webkit-keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

#profile {
  -webkit-animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.interests-div {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.education-div {
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.network-icon {
    
    margin-top: 15px;
    padding: 5px;
  
    .ai-cv {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s;
    }  
  
    
    .fa-envelope {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
    }
    
 .fa-twitter {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.6s;
              animation-delay: 1.6s;
    }

 .fa-graduation-cap {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.7s;
              animation-delay: 1.7s;
    }

  .fa-github {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.8s;
              animation-delay: 1.8s;
    }  
     
  .ai-orcid {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 1.9s;
              animation-delay: 1.9s;
    }  
    
  .ai-researchgate {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 2.0s;
              animation-delay: 2.0s;
    }  
  
  .ai-publons {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 2.1s;
              animation-delay: 2.1s;
    }  
  
  .ai-dataverse {
      opacity: 0;
      -webkit-animation: grow 2s ease forwards;
              animation: grow 2s ease forwards;
      -webkit-animation-delay: 2.2s;
              animation-delay: 2.2s;
    } 
    
}
    @-webkit-keyframes grow {
        100% { opacity: 1; }
    }
    
    @keyframes grow {
        100% { opacity: 1; }
    } 

.avatar-square {
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}



}
